.header {
  display: flex;
  justify-content: space-around;
  font-family: "Cookie", cursive;
  font-family: "Poppins", sans-serif;
}
#logo {
  position: static;
  width: 126px;
  height: 30px;
}
#search {
  width: 235px;
  height: 32px;
}
.banner1 {
  height: 500px;
  width: 100px;
  display: inline;
}
.login-n-busket {
  display: flex;
}
