.header {
  display: flex;
  justify-content: space-around;
  font-family: "Cookie", cursive;
  font-family: "Poppins", sans-serif;
}
#logo {
  display: flex;
  width: 40px;
  height: 40px;
}
#search {
  width: 235px;
  height: 32px;
}
.banner {
  background-image: none;
  height: 500px;
  width: 1000px;
}
