#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img {
  padding: 10px;
  width: 40px;
  height: 40px;
}
#logo h2 {
  color: rgba(241, 114, 40, 1);
  font-family: "Poppins";
  font-weight: 700;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  text-decoration: none;
  padding: 10px;
  color: #000000;
}
.menu a:hover {
  color: #f17228;
}
.login-n-busket a {
  color: rgba(241, 114, 40, 1);
  padding: 10px;
  text-decoration: none;
}
.search input {
  background-image: url(../images/search.png);
  background-position: 15px 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  height: 32px;
  width: 235px;
  border-radius: 10px;
  border: 1px solid #fbc5a6;
  border-radius: 10px;
}
.search input::placeholder {
  padding-left: 30px;
}
