#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img {
  padding: 10px;
  width: 40px;
  height: 40px;
}
#logo h2 {
  color: rgba(241, 114, 40, 1);
  font-family: "Poppins";
  font-weight: 700;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu a {
  color: black;
  padding: 20px;
  text-decoration: none;
}
.login-n-busket a {
  color: rgba(241, 114, 40, 1);
  padding: 10px;
  text-decoration: none;
}
.search img {
  height: 12px;
  width: 12px;
  left: 902px;
  top: 22px;
}
#search {
  height: 32px;
  width: 235px;
  left: 882px;
  top: 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  /* warm.orange */
  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
}

.white img {
  position: absolute;
  width: 1500px;
  height: 496px;
  left: 4px;
  top: 76px;
}
.food img {
  position: absolute;
  width: 588px;
  height: 400px;
  left: 50px;
  top: 104px;
}
.msarts img {
  height: 216px;
  width: 486px;
  left: 847px;
  top: 152px;
  border-radius: 30px;
}
