* {
  box-sizing: border-box;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img {
  padding: 10px;
  width: 40px;
  height: 40px;
}
#logo h2 {
  color: rgba(241, 114, 40, 1);
  font-family: "Poppins";
  font-weight: 700;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu a {
  color: rgba(0, 0, 0, 1);
  padding: 20px;
  text-decoration: none;
}
.login-n-busket a {
  color: rgba(241, 114, 40, 1);
  padding: 10px;
  text-decoration: none;
}
#search {
  background-image: url(../images/search.png);
  background-position: 10% 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  height: 32px;
  width: 235px;
  border-radius: 10px;
  border: 1px solid #fbc5a6;
  border-radius: 10px;
}

.white img {
  position: absolute;
  width: 1500px;
  height: 496px;
  left: 4px;
  top: 76px;
}
.food img {
  position: absolute;
  width: 588px;
  height: 400px;
  left: 50px;
  top: 104px;
}
.msarts img {
  height: 216px;
  width: 486px;
  left: 847px;
  top: 152px;
  border-radius: 30px;
}
.base {
  position: absolute;
  width: 1440px;
  height: 248px;
  left: 1px;
  top: 572px;
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 41.19%
  );
}
