.slider {
  height: 496px;
  width: 100%;
  background-image: url(../images/white.png);
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#description {
  width: 486px;
  height: 390px;
}
#description h2 {
  width: 384px;
  height: 90px;
  right: 222px;
  display: flex;
  text-align: right;
  font-weight: 600;
  font-size: 55px;
  line-height: 90%;
  font-family: "Poppins";
  color: #f17228;
}
#description p {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  display: flex;
  color: #4d2000;
}
#description hr {
  width: 383px;
  height: 0px;
  left: 834px;
  top: 296px;
  border: 2px solid rgba(241, 114, 40, 0.6);
}
.base {
  position: absolute;
  width: 100%;
  height: 248px;
  left: 0px;
  top: 580px;
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 41.19%
  );
}
#btn {
  justify-content: flex-end;
  position: absolute;
  width: 60px;
  height: 40px;
  right: 120px;
  top: 288px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 180px;
  height: 16px;
  left: 910px;
  top: 504px;
}
.sker1 {
  width: 21px;
  height: 8px;
  background: #f17228;
  border-radius: 5px;
  flex: none;
  margin: 0px 10px;
}
.sker2 {
  width: 10px;
  height: 8px;
  background: #fbc5a6;
  border-radius: 5px;
  margin: 0px 10px;
}
.sker3 {
  width: 10px;
  height: 8px;
  background: #fbc5a6;
  border-radius: 5px;
  margin: 0px 10px;
}
#features {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: rgba(255, 255, 255, 0.1);
  height: 230px;
}
.box1 {
  display: flex;
  align-items: center;
  margin: 0px 100px;
}
.cart1 {
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  padding: 20px;
}
.box2 {
  display: flex;
  align-items: center;
}
.cart2 {
  flex-direction: column;
  padding: 20px;
  font-family: "Poppins";
}
.box3 {
  display: flex;
  align-items: center;
}
.cart3 {
  font-family: "Poppins";
  font-style: normal;
  padding: 20px;
}
.cart3 h5 {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
#sale {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 448px;
  left: 0px;
  top: 800px;
}
