.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#description {
  width: 486px;
  height: 390px;
}
.base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 248px;
  left: 0px;
  top: 580px;
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 41.19%
  );
}
#btn {
  justify-content: flex-end;
  position: absolute;
  width: 60px;
  height: 40px;
  right: 120px;
  top: 288px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 180px;
  height: 16px;
  left: 960px;
  top: 504px;
}
.sker1 {
  width: 21px;
  height: 8px;
  background: #f17228;
  border-radius: 5px;
  flex: none;
  margin: 0px 10px;
}
.sker2 {
  width: 10px;
  height: 8px;
  background: #fbc5a6;
  border-radius: 5px;
  margin: 0px 10px;
}
.sker3 {
  width: 10px;
  height: 8px;
  background: #fbc5a6;
  border-radius: 5px;
  margin: 0px 10px;
}
.features {
  display: flex;
  margin: 115px;
  justify-content: space-around;
  align-items: flex-end;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}
.box1 {
  display: flex;
  align-items: center;
  margin: 0px 100px;
}
.cart1 {
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  padding: 20px;
}
.box2 {
  display: flex;
  align-items: center;
}
.cart2 {
  flex-direction: column;
  padding: 20px;
  font-family: "Poppins";
}
.box3 {
  display: flex;
  align-items: center;
}
.cart3 {
  font-family: "Poppins";
  font-style: normal;
  padding: 20px;
}
.cart3 h5 {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
#sale {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 448px;
  left: 0px;
  top: 800px;
}
#morj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 88px;
  left: 120px;
  top: 0px;
  margin: 16px 0px;
}
.all1 {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 48px;
  left: 135px;
}
.all2 {
  display: flex;
  background-color: orange;
  background: #f17228;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
}
.rectangle {
  position: absolute;
  width: 75px;
  height: 43px;
  left: 165px;
  background: #f17228;
  border-radius: 0px 8px 0px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 282px;
  height: 304px;
  background: #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.card-text {
  color: #f17228;
}
.card-body h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.pro {
  display: flex;
  justify-content: space-around;
}
.card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 282px;
  height: 304px;
  background: #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pro1 {
  display: flex;
  justify-content: space-around;
}
.card2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 282px;
  height: 304px;
  background: #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pro2 {
  display: flex;
  justify-content: space-around;
}
.card3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 282px;
  height: 304px;
  background: #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pro3 {
  display: flex;
  justify-content: space-around;
}
.cards1 {
  display: flex;
  justify-content: space-around;
}
.cards2 {
  display: flex;
  justify-content: space-around;
}
.zone1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  height: 304px;
  background: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.zone2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  height: 304px;
  background: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.zone3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  height: 304px;
  background: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.zone4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  height: 304px;
  background: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.active h4 {
  position: absolute;
  width: 384px;
  top: 100px;
  height: 120px;
  right: 300px;
  width: 384px;
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
  color: #f17228;
}
.active p {
  width: 384px;
  height: 64px;
  right: 222px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
  color: #4d2000;
}
